AWS_ACCESS_KEY_ID=<YOUR AWS KEY ID>
AWS_SECRET_ACCESS_KEY=<Your AWS secret>
AWS_REGION=<See http://docs.aws.amazon.com/general/latest/gr/rande.html#s3_region for a list of valid regions>
AWS_RECORDINGS_BUCKET=<The bucket name>
POSTMARK_SERVER_TOKEN=<Your Postmarkapp token>
POSTMARK_FROM=<Your Postmark "from" address>
MOSHIMOSHI_RECORDINGS_SENT_TO=<Address to send the recorded calls to>

