---
http_interactions:
- request:
    method: get
    uri: https://www.voip.ms/rates/xmlapi.php?pattern=55512
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="utf-8" ?>

        <results>
          <item>
            <short_description>Brazil Porto Alegre</short_description>
            <description>Brazil Porto Alegre</description>
            <pattern>55512</pattern>
            <rate>0.01860000</rate>
            <rate_premium>0.02720000</rate_premium>
            <increment>6</increment>
            <old_rate>0.00000000</old_rate>
            <old_rate_change>2009-10-31</old_rate_change>
          </item>
        </results>
  recorded_at: Fri, 21 Aug 2015 20:03:27 GMT
- request:
    method: get
    uri: https://www.voip.ms/rates/xmlapi.php?pattern=55512
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="utf-8" ?>

        <results>
          <item>
            <short_description>Brazil Porto Alegre</short_description>
            <description>Brazil Porto Alegre</description>
            <pattern>55512</pattern>
            <rate>0.01860000</rate>
            <rate_premium>0.02720000</rate_premium>
            <increment>6</increment>
            <old_rate>0.00000000</old_rate>
            <old_rate_change>2009-10-31</old_rate_change>
          </item>
        </results>
  recorded_at: Fri, 21 Aug 2015 20:03:27 GMT
recorded_with: VCR 2.9.3
