!!! 5
%html
  %body
    %h1
      Hello!

    %p
      %a(href=@public_url) Here
      is the recording of today's call to #{@recording_metadata[:to]}. You called from #{@recording_metadata[:from]} at #{@recording_metadata[:time]}.
    
    %p
      This recording will be available to download for 9 months and will be deleted on #{@recording_expiry_date}. If you wish to access it after this date, you should keep your own copy.
    
    %p
      Thank you for using MoshiMoshi!
