---
http_interactions:
- request:
    method: get
    uri: https://www.voip.ms/rates/xmlapi.php?pattern=33953
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="utf-8" ?>

        <error>
          <code>404</code>
          <description>No results found</description>
          <dest></dest>
          <pattern>33953</pattern>
        </error>
  recorded_at: Mon, 18 May 2015 14:10:07 GMT
[...]
- request:
    method: get
    uri: https://www.voip.ms/rates/xmlapi.php?pattern=339
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="utf-8" ?>

        <results>
          <item>
            <short_description>France CLEC</short_description>
            <description>France CLEC</description>
            <pattern>339</pattern>
            <rate>0.02140000</rate>
            <rate_premium>0.04310000</rate_premium>
            <increment>6</increment>
            <old_rate>0.00000000</old_rate>
            <old_rate_change>2009-10-31</old_rate_change>
          </item>
        </results>
  recorded_at: Mon, 18 May 2015 14:10:08 GMT
recorded_with: VCR 2.9.3
