---
http_interactions:
- request:
    method: get
    uri: https://www.voip.ms/rates/xmlapi.php?pattern=9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="utf-8" ?>

        <error>
          <code>404</code>
          <description>No results found</description>
          <dest></dest>
          <pattern>9</pattern>
        </error>
  recorded_at: Mon, 18 May 2015 14:10:08 GMT
recorded_with: VCR 2.9.3
